# Copy this file to ".env" and fill in your key, OR just export the variable.
# Get a FREE key at https://explore.openaq.org  ->  Account  ->  API Keys
OPENAQ_API_KEY=2fbf77fc29c884d9be03c6abadd00f6b4ec3923429f2f254b37eb38c69fb90c
